main {
  min-height: 70vh;
}

.card {
  max-width: 18rem;
}

/* a bit nasty but fixes bs grid :  */
.col-4 {
  flex: 0 0 28.333333% !important;
  max-width: 28.333333% !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
  padding: 0 !important;
}

.form-switch {
  float: right;
}